{% extends 'base.html.twig' %}

{% block title %}Gestion courrier : Ajout Arrivées{% endblock %}

{% block body %}
    {% block menu_top %}
        {% include 'menu.html.twig' %}
    {% endblock %}


    <div class="container">
        <br>



    <div class="panel panel-default">

                                <div class="panel-heading">Ajout/Modif Arrivée</div>
                                {{ form_start(formArrivee) }}
                                <div class="panel-body">

                                    <fieldset id="fsetCourrier" class="col-md-6">
                                        <legend>Courrier</legend>

                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                
                                                <div class="form-group">
                                                    <label for="RefCourrier" >Réf Courrier</label>
                                                    {{ form_widget(formArrivee.RefCourrier, {'attr': {'class': 'form-control','placeholder':'Réf Courrier'}}) }}
                                                </div>


                                                <div class="form-group">
                                                    <label for="Type" >Type</label>
                                                    {{ form_widget(formArrivee.Type, {'attr': {'class': 'form-control','placeholder':'Type'}}) }}
                                                </div>


                                                <div class="form-group">
                                                    <label for="Objet" >Objet</label>
                                                    {{ form_widget(formArrivee.Objet, {'attr': {'class': 'form-control','placeholder':'Objet','rows':'5'}}) }}
                                                </div>

                                                <div class="form-group">
                                                    <label for="DateCourrier" >Date Courrier</label>
                                                    <div id="datepickerCourrier" class="input-group date" data-date-format="yyyy-mm-dd">
                                                        {{ form_widget(formArrivee.DateCourrier, {'attr': {'class': 'form-control'}}) }}
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="DateArrivee" >Date Arrivée</label>
                                                    <div id="datepickerArrivee" class="input-group date" data-date-format="yyyy-mm-dd">
                                                        {{ form_widget(formArrivee.DateArrivee, {'attr': {'class': 'form-control'}}) }}
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <label for="DateCreation" >Date Creation</label>
                                                    <div id="datepickerCreation" class="input-group date" data-date-format="yyyy-mm-dd">
                                                        {{ form_widget(formArrivee.DateCreation, {'attr': {'class': 'form-control','disabled':'disabled'}}) }}
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" disabled></i></span>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </fieldset>


                                    <fieldset id="fsetCorresp" class="col-md-6">
                                        <legend>Coordonnées Expéditeur</legend>
                                        <div class="panel panel-default">
                                            <div class="panel-body">



                                                <div class="form-group">
                                                    <label for="Expediteur" >Expéditeur</label>
                                                    <input type="text" id="Expediteur" name="Expediteur" required="required" class="form-control" placeholder="Expéditeur">
                                                </div>

                                                <div class="form-group">
                                                    <label for="Tel" >Tél</label>
                                                    <input type="text" id="Tel" name="Tel" required="required" class="form-control" placeholder="Tél">
                                                </div>

                                                <div class="form-group">
                                                    <label for="Fax" >Fax</label>
                                                    <input type="text" id="Fax" name="Fax" required="required" class="form-control" placeholder="Fax">
                                                </div>






                                                <div class="input-group image-preview">
                                                   <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->


                                                        <span class="input-group-btn">
                                                            <!-- image-preview-clear button -->
                                                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                                <span class="glyphicon glyphicon-remove"></span> Clear
                                                            </button>
                                                                                                <!-- image-preview-input -->
                                                            <div class="btn btn-default image-preview-input">
                                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                                <span class="image-preview-input-title">Parcourir</span>
                                                                 <!-- <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> rename it -->
                                                                {{ form_widget(formArrivee.Fichier, {'attr': {'class': 'form-control',id:'FichierUp',name:'FichierUp'}}) }}
                                                            </div>
                                                         </span>
                                                </div>










                                            </div>
                                        </div>



                                    </fieldset>



                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-10" style="float:left;margin-top:10px;">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-btn fa-user"></i> Enregistrer
                                            </button>
                                            <button type="button" class="btn btn-secondary" onclick="javascript:history.go(-1)">
                                                <i class="fa fa-btn fa-user"></i> Annuler
                                            </button>

                                        </div>
                                    </div>


                                </div>

                                {{ form_end(formArrivee) }}

                            </div>



    </div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $("#datepickerCourrier").datepicker({autoclose: true,todayHighlight: true}).datepicker('update', new Date());
            $("#datepickerArrivee").datepicker({autoclose: true,todayHighlight: true}).datepicker('update', new Date());
        });
    </script>
{% endblock %}

