{% extends 'base.html.twig' %}

{% block title %}Gestion courrier : Paramètrer Arrivée{% endblock %}

{% block body %}
    {% block menu_top %}
        {% include 'menu.html.twig' %}
    {% endblock %}


    <div class="container">
        <br>



    <div class="panel panel-default">
        {% if arrivee is defined %}
        {{ ConsulteNotif(app.user.id, arrivee.id) }}
        <form action="{{ path('Nextarrivee') }}" method="POST">
        <input id="IdArrivee" name="IdArrivee" type="hidden" value="{{arrivee.id}}">
                                <div class="panel-heading">Paramètrer Arrivée</div>

                                <div class="panel-body">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1primary" data-toggle="tab">Courrier</a></li>
                                <li><a href="#tab2primary" data-toggle="tab">Expéditeur</a></li>
                                <li><a href="#tab3primary" data-toggle="tab">Direction</a></li>
                                <li><a href="#tab4primary" data-toggle="tab">Division</a></li>
                                <li><a href="#tab5primary" data-toggle="tab">Service</a></li>
                                <li><a href="#tab6primary" data-toggle="tab">Agent</a></li>
                                
                            </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                                <fieldset id="fsetCourrier" class="col-md-12">
                                        <legend>Courrier</legend>

                                        <div class="panel panel-default">
                                            <div class="panel-body">

                                                <div class="form-group">
                                                    <label for="RefCourrier" >Réf Courrier</label>
                                                    <input type="text" id="RefCourrier" name="RefCourrier" value="{{arrivee.refCourrier}}"  class="form-control" placeholder="RefCourrier">
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="Type" >Type</label>
                                                    <input type="text" id="Type" name="Type" value="{{arrivee.type}}"   class="form-control" placeholder="Type">
                                                </div>


                                                <div class="form-group">
                                                    <label for="Type" >Objet</label>
                                                    <textarea  id="Objet" name="Objet"   class="form-control" placeholder="Objet" rows="5">{{arrivee.objet}}</textarea>
                                                </div>


                                                <div class="form-group">
                                                    <label for="DateCourrier" >Date Courrier</label>
                                                    <div id="datepickerCourrier" class="input-group date" data-date-format="yyyy-mm-dd">
                                                        <input type="text" id="DateCourrier" name="DateCourrier" value="{{arrivee.dateCourrier|date("Y-m-d")}}"   class="form-control">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="DateArrivee" >Date Arrivée</label>
                                                    <div id="datepickerArrivee" class="input-group date" data-date-format="yyyy-mm-dd">
                                                        <input type="text" id="DateArrivee" name="DateArrivee" value="{{arrivee.dateArrivee|date("Y-m-d")}}"   class="form-control">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </div>

                                                



                                                <div class="form-group">
                                                    <label for="DateCreation" >Date Creation</label>
                                                    <div id="datepickerCreation" class="input-group date" data-date-format="yyyy-mm-dd">
                                                    <input type="text" id="DateCreation" name="DateCreation" value="{{arrivee.dateCreation|date("Y-m-d")}}"  disabled="disabled" class="form-control">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" disabled></i></span>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>

                                    </fieldset>
                            
                            </div>
                            <div class="tab-pane fade" id="tab2primary">
                                    <fieldset id="fsetCorresp" class="col-md-12" style="float:left;">
                                        <legend>Coordonnées Expéditeur</legend>
                                        <div class="panel panel-default">
                                            <div class="panel-body">



                                                <div class="form-group">
                                                    <label for="Expediteur" >Expéditeur</label>
                                                    <input type="text" id="Expediteur" name="Expediteur" value="{{arrivee.expediteur.expediteur}}" required="required" class="form-control" placeholder="Expéditeur">
                                                </div>

                                                <div class="form-group">
                                                    <label for="Tel" >Tél</label>
                                                    <input type="text" id="Tel" name="Tel" value="{{arrivee.expediteur.tel}}" required="required" class="form-control" placeholder="Tél">
                                                </div>

                                                <div class="form-group">
                                                    <label for="Fax" >Fax</label>
                                                    <input type="text" id="Fax" name="Fax" value="{{arrivee.expediteur.fax}}" required="required" class="form-control" placeholder="Fax">
                                                </div>


                                            </div>
                                        </div>



                                    </fieldset>
                                

                            </div>
                            <div class="tab-pane fade" id="tab3primary">
                                 <fieldset id="fsetCorresp" class="col-md-12">
                                        <legend>Direction</legend>
                                        <div class="panel panel-default">
                                            <div class="panel-body">


                                                <div class="form-group">
                                                    <label for="Departement">Département</label>
                                                    <select class="form-control" id="Departement" name="Departement" Onchange="chargerServices(this.value);">
                                                    {% if departements is defined %}
                                                            {% for departement in departements %}
                                                                {% if arrivee.departement != null  %}
                                                                    {% if departement.id == arrivee.departement.id %}
                                                                        <option value={{departement.id}} selected>{{departement.departement}}</option>
                                                                        {% else %}
                                                                        <option value={{departement.id}} >{{departement.departement}}</option>
                                                                    {% endif %}
                                                                    {% else %}
                                                                    <option value={{departement.id}} >{{departement.departement}}</option>
                                                                {% endif %}
                                                                
                                                            {% endfor %}
                                                    {% endif %}   
                                                    </select>
                                                </div>
                                                

                                                {% if directionControles is defined %}
                                                        {% for controle in directionControles %}
                                                            {% set valeurAction = null %}
                                                                {% if directionControles is defined %}
                                                                    {% for action in actions %}
                                                                      {% if action.controle == controle %}
                                                                        {% set valeurAction = action.value %}
                                                                        
                                                                      {% endif %}

                                                                    {% endfor %}
                                                                {% endif %} 
                                                            {% if controle.type == "checkbox" %}
                                                                
                                                                <div class="checkbox">
                                                                    {% if  valeurAction is null or valeurAction == 'off' %}
                                                                        <label><input type="{{controle.type}}" id="controle_{{controle.id}}" name="controle_{{controle.id}}" >{{controle.label}}</label>
                                                                    {% elseif valeurAction == '' or valeurAction == 'on' %}
                                                                        <label><input type="{{controle.type}}" id="controle_{{controle.id}}" name="controle_{{controle.id}}" checked>{{controle.label}}</label>
                                                                    {% endif %}
                                                                    
                                                                </div>
                                                            {% elseif controle.type == "textarea" %}
                                                                <div class="form-group">
                                                                    <label for="controle_{{controle.id}}" >{{controle.label}}</label>
                                                                    <textarea  id="controle_{{controle.id}}" name="controle_{{controle.id}}"   class="form-control" placeholder="{{controle.label}}" rows="5">{{valeurAction }}</textarea>
                                                                </div>
                                                            {% else %}
                                                                <div class="form-group">
                                                                    <label for="Fax" >{{controle.label}}</label>
                                                                    <input type="{{controle.type}}" id="controle_{{controle.id}}" name="controle_{{controle.id}}"  class="form-control" placeholder="{{controle.label}}" value="{{valeurAction }}">
                                                                </div>
                                                            {% endif %} 
                                                        {% endfor %}
                                                {% endif %} 


                                                

                                                

                                            </div>
                                        </div>
                                        



                                </fieldset>
                            </div>
                            <div class="tab-pane fade" id="tab4primary">
                            
                                    {% if services is defined %}
                                    <fieldset id="fsetDivision" class="col-md-12">
                                        <legend>Division</legend>
                                        <div class="panel panel-default">
                                            <div class="panel-body">



                                                <div class="form-group">
                                                    <label for="Service">Service</label>
                                                    <select class="form-control" id="Service" name="Service" >
                                                    <option value="" selected></option>
                                                    {% if services is defined %}
                                                            {% for service in services %}
                                                                {% if arrivee.service != null  %}
                                                                    {% if service.id == arrivee.service.id %}
                                                                        <option value={{service.id}} selected>{{service.service}}</option>
                                                                        {% else %}
                                                                        <option value={{service.id}} >{{service.service}}</option>
                                                                    {% endif %}
                                                                    {% else %}
                                                                    <option value={{service.id}} >{{service.service}}</option>
                                                                {% endif %}
                                                                
                                                            {% endfor %}
                                                    {% endif %}   
                                                    </select>
                                                </div>

                                                {% if divisionControles is defined %}
                                                        {% for controle in divisionControles %}
                                                            {% set valeurAction = null %}
                                                                {% if divisionControles is defined %}
                                                                    {% for action in actions %}
                                                                      {% if action.controle == controle %}
                                                                        {% set valeurAction = action.value %}
                                                                        
                                                                      {% endif %}

                                                                    {% endfor %}
                                                                {% endif %} 
                                                            {% if controle.type == "checkbox" %}
                                                                
                                                                <div class="checkbox">
                                                                    {% if  valeurAction is null or valeurAction == 'off' %}
                                                                        <label><input type="{{controle.type}}" id="controle_{{controle.id}}" name="controle_{{controle.id}}" >{{controle.label}}</label>
                                                                    {% elseif valeurAction == '' or valeurAction == 'on' %}
                                                                        <label><input type="{{controle.type}}" id="controle_{{controle.id}}" name="controle_{{controle.id}}" checked>{{controle.label}}</label>
                                                                    {% endif %}
                                                                    
                                                                </div>
                                                            {% elseif controle.type == "textarea" %}
                                                                <div class="form-group">
                                                                    <label for="controle_{{controle.id}}" >{{controle.label}}</label>
                                                                    <textarea  id="controle_{{controle.id}}" name="controle_{{controle.id}}"   class="form-control" placeholder="{{controle.label}}" rows="5">{{valeurAction }}</textarea>
                                                                </div>
                                                            {% else %}
                                                                <div class="form-group">
                                                                    <label for="Fax" >{{controle.label}}</label>
                                                                    <input type="{{controle.type}}" id="controle_{{controle.id}}" name="controle_{{controle.id}}"  class="form-control" placeholder="{{controle.label}}" value="{{valeurAction }}">
                                                                </div>
                                                            {% endif %} 
                                                        {% endfor %}
                                                {% endif %}

                                                


                                            </div>
                                        </div>



                                    </fieldset>
                                    {% endif %} 
                            
                            </div>
                            <div class="tab-pane fade" id="tab5primary">Contenu Service</div>
                            <div class="tab-pane fade" id="tab6primary">Contenu Agent</div>
                        </div>
                    </div>
            </div>
        </div>
                
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-6" style="float:right;margin-top:10px;">
                                            <button type="submit" class="btn btn-primary" style="float:right">
                                                <i class="fa fa-check-square" aria-hidden="true"></i> Enregistrer
                                            </button>
                                            <img src="{{asset('images/vide.png') }}"  width="10px"  style="float:right" />
                                            <button type="button" data-toggle="modal" data-target="#ClasserCourrier" class="btn btn-success" style="float:right">
                                                <i class="fa fa-download" aria-hidden="true"></i> Classer
                                            </button>
                                            <img src="{{asset('images/vide.png') }}"  width="10px"  style="float:right" />
                                            <button type="button" class="btn btn-secondary" onclick="javascript:history.go(-1)" style="float:right">
                                                <i class="fa fa-reply-all" aria-hidden="true"></i> Annuler
                                            </button>

                                        </div>
                                    </div>


                                </div>

                            </div>

        </form>
	
        
        {% endif %}
    </div>

        <!--  Modal Calasser Courrier-->
        <div class="modal fade bd-example-modal-lg" id="ClasserCourrier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Classer Arrivée</h5>
            
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('ModifArrivee') }}" method="POST">
            <div class="modal-body">

                <input id="IdArrivee" name="IdArrivee" type="hidden" value="">
                <fieldset id="fsetCourrier" class="col-md-12">
                    <legend>Réponse courrier</legend>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="input-group image-preview">
                                                   <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->


                                                        <span class="input-group-btn">
                                                            <!-- image-preview-clear button -->
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>
                                                                                                <!-- image-preview-input -->
                                    <div class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Parcourir</span>
                                        <!-- <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> rename it -->
                                        
                                    </div>
                                </span>
                            </div>

                            


                            <div class="form-group">
                                <label for="Objet" >Objet</label>
                                <textarea id="Objet" name="Objet" required="required" class="form-control" placeholder="Objet" rows="5"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="DateCourrier" >Date Courrier</label>
                                <div id="datepickerCourrier" class="input-group date" data-date-format="yyyy-mm-dd">
                                <input type="text" id="DateCourrier" name="DateCourrier"  class="form-control" >
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                            <div class="input-group image-preview">
                                                   <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->


                                                        <span class="input-group-btn">
                                                            <!-- image-preview-clear button -->
                                                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                                <span class="glyphicon glyphicon-remove"></span> Clear
                                                            </button>
                                                                                                <!-- image-preview-input -->
                                                            <div class="btn btn-default image-preview-input">
                                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                                <span class="image-preview-input-title">Parcourir</span>
                                                                 <!-- <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> rename it -->
                        </div>

                        </div>


                </div>

                </fieldset>

            
            </div>
            
            <div class="modal-footer">
            
                <button id="BtnFermer" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button id="BtnEnregistrer" type="submit"   class="btn btn-primary">Enregistrer</button>
            </div>
            </form>
            </div>
        </div>
        </div>



{% endblock %}

{% block javascripts %}
    
    <script type="text/javascript">
        $(function () {
            $("#datepickerCourrier").datepicker({autoclose: true,todayHighlight: true}).datepicker('update', new Date());
            $("#datepickerArrivee").datepicker({autoclose: true,todayHighlight: true}).datepicker('update', new Date());
        });

    function chargerServices($idDep){
            var route="{{ path('ChargerServices',{'id': 'idDep'}) }}";
            route=route.replace('idDep',$idDep)
           
        $.ajax({
            url: route,
            type: 'GET',
            dataType: 'json',
            error:function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            },
            success:function(data, textStatus, XMLHttpRequest) {

                var select = document.getElementById('Service');
                removeOptions(select);
                    var option = document.createElement('option');
                    option.value = "";
                    option.innerHTML = "";
                    select.appendChild(option);
                for(i = 0 ; i <= data.length-1  ; i++){
                    var option = document.createElement('option');
                    option.value = data[i].id;
                    option.innerHTML = data[i].service;
                    select.appendChild(option);

                }
                
            }
        });
    }

    function removeOptions(selectbox) {
                var i;
                for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
                {
                    selectbox.remove(i);
                }
            }

            
    </script>
{% endblock %}

