{% extends 'base.html.twig' %}

{% block title %}Gestion courrier : Liste Controles {% endblock %}

{% block body %}
    {% block menu_top %}
        {% include 'menu.html.twig' %}
    {% endblock %}


<input id="ControleId" name="ControleId" type="hidden" value="">
<div class="container">
<div>
    <form action="{{ path('AddControle') }}" method="POST">
            <fieldset id="fsetControle" class="col-md-12">
            <legend>Controles</legend>

                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="Label" >Label</label>
                        <input type="text" id="Label" name="Label"  class="form-control" placeholder="Label">
                    </div>
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <select class="form-control" id="Type" name="Type">
                                    <option value="text">Zone de text</option>
                                    <option value="textarea">Commentaire</option>
                                    <option value="checkbox">Case à cocher</option>
                                     
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Pave">Pavé</label>
                        <select class="form-control" id="Pave" name="Pave">
                                    <option value="Direction">Direction</option>
                                    <option value="Division">Division</option>
                                    <option value="Service">Service</option>
                                    <option value="Agent">Agent</option>
                        </select>
                    </div>
                    

               <button id="BtnEnregistrer" type="submit"   class="btn btn-primary" style="float:right">Enregistrer</button>
                </div>

        </fieldset>

    </form>
<img src="" style="height:50px" />
</div>


   <table id="ListeControles" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Labels</th>
                <th>Type</th>
                <th>Pavé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if Controles is defined %}
        
            {% for Controle in Controles %}
                <tr>
                    <td>{{ Controle.label }}</td>
                    <td>
                                    {% if Controle.type=="text" %}
                                        Zone de text
                                    {% elseif Controle.type=="textarea" %}
                                        Commentaire
                                    {% else %}
                                        Case à cocher
                                    {% endif %}
                    
                    </td>
                    
                    <td>{{ Controle.pave }}</td>
                    <td>            
                        <div class="btn-group" role="group" aria-label="...">
                            <button onclick="afficherControle({{Controle.id}},'Edit')" type="button" class="btn btn-info" data-toggle="modal" data-target="#EditControle"><i class="glyphicon glyphicon-search">
                                </i></button>
                            <button onclick="afficherControle({{Controle.id}},'Modif')" type="button" class="btn btn-default" data-toggle="modal" data-target="#EditControle" ><i class="glyphicon glyphicon-pencil" >
                                </i></button>
                            <button   onclick="document.getElementById('ControleId').value={{Controle.id}};"  type="button" class="btn btn-danger" data-toggle="modal" href="#ConfirmationSupp" ><i class="glyphicon glyphicon-trash">
                                </i></button>
                                
                        </div>          
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<!--  Modal Confirmation Suppression-->
<div class="modal fade" id="ConfirmationSupp">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                Etes-vous sur de vouloir supprimer ce controle !
            </div>
            <div class="modal-footer">
                <button onclick="DeleteControle()" class="btn btn-info" data-dismiss="modal" >OUI</button>
                <button class="btn btn-info" data-dismiss="modal">NON</button>
            </div>
        </div>
    </div>
</div>

<!--  Modal Edit Controle-->

<div class="modal fade bd-example-modal-lg" id="EditControle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Controle</h5>
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ path('ModifControle') }}" method="POST">
      <div class="modal-body">

        <input id="IdControle" name="IdControle" type="hidden" value="">
        <fieldset id="fsetCourrier" class="col-md-12">
            <legend>Courrier</legend>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="LabelModal" >Label</label>
                        <input type="text" id="LabelModal" name="LabelModal"  class="form-control" placeholder="Label">
                    </div>
                    
                    <div class="form-group">
                        <label for="TypeModal">Type</label>
                        <select class="form-control" id="TypeModal" name="TypeModal">
                                    <option value="text">Zone de text</option>
                                    <option value="textarea">Commentaire</option>
                                    <option value="checkbox">Case à cocher</option>
                        </select>

                        
                    </div>
                    <div class="form-group">
                        <label for="PaveModal">Pavé</label>
                        <select class="form-control" id="PaveModal" name="PaveModal">
                                    <option value="Direction">Direction</option>
                                    <option value="Division">Division</option>
                                    <option value="Service">Service</option>
                                    <option value="Agent">Agent</option>
                        </select>
                    </div>




                    

                   
                </div>

                   


            </div>


        
        </fieldset>



     
      </div>
     
      <div class="modal-footer">
      
        <button id="BtnFermerModal" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button id="BtnEnregistrerModal" type="submit"   class="btn btn-primary">Enregistrer</button>
      </div>
     </form>
    </div>
  </div>
</div>
   








{% endblock %}




{% block javascripts %}
    <script type="text/javascript">
       $(document).ready(function()  { 
           $('#ListeControles').DataTable({
               lengthMenu:[5,10,15,20,25,50], 
                    "language": {
                        "url": "{{ asset('js/French.json') }}"
                    }     
                           
            });
           

             
       ;} );

     function afficherControle($IdDep,$action){
            var route="{{ path('AfficherControle',{'id': 'IdCont'}) }}";
            route=route.replace('IdCont',$IdDep)
           
        $.ajax({
            url: route,
            type: 'GET',
            dataType: 'json',
            error:function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            },
            success:function(data, textStatus, XMLHttpRequest) {
                
               document.getElementById('IdControle').value=data.id;
               document.getElementById('LabelModal').value=data.label;
               $("#TypeModal").val(data.type).trigger("change");
               $("#PaveModal").val(data.pave).trigger("change");
               
              if ($action=='Edit'){
                  
               document.getElementById('BtnEnregistrerModal').style.display="none";
               document.getElementById('LabelModal').disabled=true;
               document.getElementById('TypeModal').disabled=true;
               document.getElementById('PaveModal').disabled=true;
               
              }else{
               document.getElementById('BtnEnregistrerModal').style.display="";
               document.getElementById('LabelModal').disabled=false;
               document.getElementById('TypeModal').disabled=false;
               document.getElementById('PaveModal').disabled=false;

              }

              

            }
        });
    }

     function DeleteControle(){
           var route="{{ path('DeleteControle',{'id': 'IdCont'}) }}";
           var idArrivee = document.getElementById('ControleId').value;
           route=route.replace('IdCont',idArrivee)
           window.location.href=route;
       }

       

      
       

       
    </script>
{% endblock %}